mail_fetch_env
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/

# Django specific
*.log
db.sqlite3
db.sqlite3-journal

# Static files
/static/
/media/

# Local settings
settings_local.py

# Editor and IDE files
.vscode/
.idea/
*.swp
*~

# Migration Files
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Testing
coverage/
*.cover
.hypothesis/

# MacOS-specific files
.DS_Store
.AppleDouble
.LSOverride